<div class="card card-table">
  <div class="card-header">
    MODIFIER UN ARTICLE
    <div class="tools">
      <!--Emplacement des outils -->
    </div>
    <!-- FIN TOOLS -->
  </div>
  <!-- FIN CARD-HEADER -->
  
  <form class="card-body" (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
    <div class="form-group">
      <label for="titre" class="label-titre">Titre:</label>

      <div class="spinner" *ngIf="!item">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>

      <input
      *ngIf="item"
        type="text"
        class="form-control"
        id="titre"
        name="titre"
        [ngModel]="item.titre"
        required>
    </div>
    <div class="form-group">
      <label for="categorie" class="label-titre">Catégorie:</label>
      <select id="categorie"
        class="form-control"
        [ngModel]="item.categorie"
        name="categorie"
        required>
        <option disabled selected hidden value="">Selectionez une catéorie...</option>
        <option *ngFor="let categorie of categories | async">{{ categorie.nom }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="texte" class="label-titre">Texte:</label>
      <ckeditor [(ngModel)]="mycontent" [ngModelOptions]="{standalone: true}" #myckeditor [config]="ckeConfig" debounce="500">
      </ckeditor>
    </div>
    <div class="clearfix">
      <button type="submit" class="btn btn-success float-right fa-button" [disabled]="!formRef.valid">
        <i class="fas fa-save"></i> Enregistrer</button>
    </div>
  </form>    
  <!-- FIN CARD-BODY -->
</div>
<!-- FIN CARD-TABLE -->
