<div class="card card-table">
  <div class="card-header">
    AJOUTER UN ARTICLE
    <div class="tools">
      <!--Emplacement des outils -->
    </div>
    <!-- FIN TOOLS -->
  </div>
  <!-- FIN CARD-HEADER -->
  <div class="card-body">
    <div class="form-group">
      <label for="titre" class="label-titre">Titre:</label>
      <input type="text" class="form-control" id="text" placeholder="Titre de l'article">
    </div>
    <div class="form-group">
      <label for="categorie" class="label-titre">Catégorie:</label>
      <select id="categorie" class="form-control">
        <option selected>Categorie1</option>
        <option>Categorie2</option>
        <option>Categorie3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="textarea" class="label-titre">Texte:</label>
      <textarea class="form-control" id="textarea" rows="10"></textarea>
    </div>
    <div class="clearfix">
      <button type="submit" class="btn btn-success float-right fa-button">
        <i class="fas fa-plus-circle"></i> Ajouter</button>
    </div>
  </div>
  <!-- FIN CARD-BODY -->
</div>
<!-- FIN CARD-TABLE -->